{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - RIM Santé {% endblock %}

{% block contentmenu %}
			{% include "SdzBlogBundle:Blog:slidesante.html.twig" %}
{% endblock %}

{% block sdz_blog_menu_g %}

	<dl id="menuv">
		<dt class="styleOutMenu"><a href="{{ path('sdz_blog_fbureau') }}"><h3 class="lien">Atelier</h3></a></dt>
		<dt class="styleOutMenu"><a href="{{ path('sdz_blog_actftic') }}"><h3 class="lien">Formation</h3></a></dt>
	</dl>
{% endblock %}


{% block sdz_blog_body %}
<div>
<h2>Mauritanie Santé(RIM Santé)</h2>
</div>
<b>Projet d’innovation dans la santé</b>

<hr>
<br/><br/>

{% endblock %}

{% block sdz_blog_menu_d %}
<div class="block-slogan">
        <h2 class="indent-2">Contacts</h2>
		<div class="grid_6 push_1">
            <address>
              <dl>
                  <dt>Immeuble El MAMI , <br>
Nouakchott, Mauritanie</dt>
                  <dd><span>Mobile:</span>+222 48 52 61 05</dd>
                  <dd><span>Telephone:</span>+222 .. .. .. ..</dd>
                  <dd><span>FAX:</span>+222 .. .. .. ..</dd>
                  <dd>E-mail: <a href="{{ asset('mailto:innovrim@gmail.com') }}">innovrim@gmail.com</a></dd>
              </dl>
           </address>
		</div>
</div>
{% endblock %}
